.authentication__info_container {
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: center;
}

.authentication__button {
    border-radius: 3px;
    background: #000;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    padding: 17px 0 15px 0;
    cursor: pointer;
    transition: opacity 0.4s ease-out;
    width: 396px;
}

.authentication__button:hover {
    opacity: 0.5;
}

.authentication__description {
    color: #A0A0A0;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.authentication__button-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


@media (max-width: 470px){
    .authentication__button {
        width: 260px;
        font-size: 12px;
    }
    .authentication__description {
        font-size: 12px;
        margin: 0;
    }
}
