.promo {
    background: #F3C1F8;
    width: 100%;
}

.promo__container {
    max-width: 1280px;
}

.promo__wrapper {
    min-height: 524px;
    background-image: url("../../image/promo-icon.svg");
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: -20px;
}

.promo__icon {
    /*margin: 82px 0 122px 0;*/
}

.promo__title {
    margin: 0;
    max-width: 730px;
    position: absolute;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -2px;
}

@media (max-width: 1480px)  {
    .promo__title_block {
        display: block;
    }
}

@media (max-width: 768px) {
    .promo__wrapper {
        min-height: 784px;
        top: -8px;
    }
}

@media (max-width: 420px) {
    .promo__wrapper {
        min-height: 570px;
        background-size: 248px 248px;
        top: -19px;
    }
    .promo__title {
        font-size: 31px;
        line-height: 39px;
        letter-spacing: -1.24px;
    }
    .promo__title_block {
        display: inline;
    }
}
