.header__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 18px 70px;
    align-items: center;
}

.header__white {
    background: #fff;
}

.header__pink {
    background: #F3C1F8;
}

.header__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.4s ease-out;
}

.header__logo:hover {
    opacity: 0.5;
}


.header__container-link {
    display: flex;
    gap: 30px;
}

.header__menu-mobile-button {
    background: transparent;
    border: unset;
    float: right;
    cursor: pointer;
    transition: all 0.3s ease;
    align-self: center;
    display: none;
}

.header__menu-mobile-icon {
    width: 30px;
    height: 3px;
    background-color: #000000;
    margin: 7px 0;
    display: flex;
    border: none;
}


@media (max-width: 768px) {
    .header__container{
        padding: 18px 30px;
    }
    .header__menu-mobile-button {
        display: inline-block;
    }
}

@media (max-width: 420px) {
    .header__container {
        padding: 18px 14px;
    }
    .header__menu-mobile-icon {
        width: 24px;
        height: 3px;
        margin: 6px 2px;
    }
}
