.nav-tab {
    background: #000;
}

.nav-tab__lists {
   display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.nav-tab__list {
    margin: 24px 0 24px 0;
}

.nav-tab__link {
    color: #FFF;
    list-style: none;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    transition: opacity 0.4s ease-out;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
}

.nav-tab__link:hover {
    opacity: 0.5;
}

@media (max-width: 430px) {
    .nav-tab__link {
        font-size: 11px;
    }
    .nav-tab__lists {
        gap: 24px;
    }
}

