.filter {
    display: flex;
    align-items: center;
    gap: 14px;
}

.filter__checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.filter__track {
    position: relative;
    width: 34px;
    height: 13px;
    background-color: #ebebeb;
    border-radius: 7px;
    transition: background-color 0.3s ease;
    margin: 0 0 0 12px;
}

.filter__thumb {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 11px;
    height: 11px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.filter__text {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.filter__checkbox:checked ~ .filter__track {
    background-color: #2BE080;
}

.filter__checkbox:checked ~ .filter__track .filter__thumb {
    transform: translateX(20px) translateY(-50%);
}

@media (max-width: 768px) {
    .filter__track {
        margin: 0;
    }
    .filter {
        gap: 6px;
    }
}
